header{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 1px;
    text-align: right;
    color: black;
    background-color: silver;
}

header img{
    width: 100px;
    display: flex;
    justify-content: space-around;
}

nav{
display: flex;
  align-items: stretch;
  border-radius: 10px;
}

nav a{
    padding: 5px 20px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

.header-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 10px;
}

.background-img{
    background-image: url("../images/stars-and-sky.jpeg");
    height: 300px;
}

.background-img p{
    background-color: blue;
}
#about-me {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
}

h2{
    display: inline;
    width: 250px;
    border-right: 5px solid black;
    text-align: right;
    font-size: 3rem;
    padding: 0 16px 0 0;
}

.about-article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    max-width: 1000px;
}

.card{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
.card img{
    width: 100%;
    height: 80%;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 75vw;
}
      
.card-primary:hover,
.card-secondary:hover  {
        box-shadow: inset 0px 0px 8px silver, 0 0 15px silver;
}

.card-primary{
    width: 100%;
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.5s ease-in-out;
}

.card-secondary{
    width: 23%;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

#work{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100vw;
}

#contact-me {
    display: flex;
    justify-content: flex-start;

}
#contact-me ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
}

#contact-me a{
    text-decoration: none;
}

#contact-me a:hover{
    text-decoration: underline;
}

footer{
    background-color: silver;
    color: black;
    text-align: center;
}

@media screen and (max-width: 992px) {
  }
  
@media screen and (max-width: 768px) {
  }
